<section id="aboutMe" class="w-full relative min-h-screen bg-backgroundAboutMe">
  <div class="flex w-full h-full flex-col lg:flex-row justify-evenly">
    <div  data-aos-offset="250" class="flex relative w-full px-4 md:px-12 lg:px-0 mt-12 sm:mt-18 lg:w-5/12 justify-center items-center flex-col">
      <div data-aos="fade-right" data-aos-duration="1500" class="z-20 mt-12 text-white">
        <div> 
          <h2 class="text-2xl">¡Hola!</h2></div>
        <div class="mt-2">
          <p class="text-justify" >
            Soy un desarrollador frontend motivado y apasionado, con experiencia en la creación de aplicaciones web modernas y atractivas. Me dedico a combinar mis habilidades técnicas con un conocimiento profundo del diseño de interfaz de usuario para ofrecer experiencias digitales excepcionales.
          </p>
          <p class="text-justify mt-2">
            Durante mi formación en Ingeniería en Ejecución en Computación e Informática en la Universidad del Biobio, adquirí un conocimiento integral de los principios fundamentales de la programación y el desarrollo web. A lo largo de mi carrera, he trabajado en proyectos desafiantes que me han permitido perfeccionar mis habilidades en HTML, CSS y JavaScript, así como en frameworks como React y React Native.
          </p>
          <p class="text-justify mt-2">
            Mi enfoque principal se centra en la creación de interfaces intuitivas, accesibles y estéticamente agradables. Me apasiona mantenerme actualizado con las últimas tendencias y tecnologías en el mundo del desarrollo frontend, y siempre busco oportunidades para mejorar mis habilidades y colaborar en proyectos emocionantes que desafíen mi creatividad y conocimientos técnicos.
          </p>
        </div>
      </div>
      <div class="w-full bg-gray-200 h-0.5 mt-4"></div>
      <div data-aos="fade-right" data-aos-duration="1500" class="flex w-full flex-col sm:flex-row mt-4  text-white z-20 ">
        <div class="flex w-full md:w-6/12 flex-col break-words ">
          <div class="flex w-full flex-row">
            <div>
              <p class="font-bold">Nombre:</p>
            </div>
            <div class="ml-3">
              <p>Elvis Rodríguez Durán</p>
            </div>
          </div>
          <div class="flex flex-row mt-3 break-words">
            <div>
              <p class="font-bold">Ciudad:</p>
            </div>
            <div class="ml-3">
              <p>Concepción, Chile.</p>
            </div>
          </div>
        </div>
        <div class="flex w-full md:w-6/12 mt-3 sm:mt-0 flex-col">
          <div class="flex flex-row">
            <div>
              <p class="font-bold">Edad:</p>
            </div>
            <div class="ml-3">
              <p>23 años</p>
            </div>
          </div>
          <div class="flex flex-col sm:flex-row mt-3">
            <div>
              <p class="font-bold">Email:</p>
            </div>
            <div class="w-full ml-0 sm:ml-3">
              <p>elvisrodriguezduran@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-8 w-full z-20 flex justify-center md:justify-start mb-12">
        <button class="hover:opacity-75 text-white py-2 px-4 border rounded hover:scale-110">
          Descargar CV
        </button>
      </div>
    </div>
    <div class="flex w-full lg:w-3/12 my-8 md:my-14 items-center justify-center cursor-pointer">
      <div data-aos="fade-up" data-aos-duration="1500" data-aos-offset="250" class="w-8/12 sm:w-6/12 lg:w-full">
          <div class="glitch">
            <img src="https://images.unsplash.com/photo-1561019733-a84b4e023910?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="">
            <div class="glitch__layers">
              <div class="glitch__layer"></div>
              <div class="glitch__layer"></div>
              <div class="glitch__layer"></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
