<section id="aboutMe" class="w-full h-full xl:h-screen flex relative  bg-backgroundAboutMe">
  <div class="flex w-full h-full flex-col xl:flex-row justify-evenly">
    <div data-aos-offset="250" class="flex relative w-full px-6 md:px-16 sm:mt-18 xl:w-6/12 justify-center items-center flex-col">
      <div data-aos="fade-right" data-aos-duration="1500" class="z-20 mt-12 text-white">
        <div> 
          <h2 class="text-2xl">¡Hola!</h2></div>
        <div class="mt-2">
          <p class="text-justify" >
            Soy un desarrollador frontend motivado y apasionado por crear aplicaciones web modernas, funcionales y visualmente atractivas.
          </p>
          <p>
            Me esfuerzo por combinar habilidades técnicas con un sólido conocimiento en diseño de interfaces de usuario para ofrecer experiencias digitales que destaquen por su calidad y usabilidad.
          </p>
          <p class="text-justify mt-2">
            Durante mi formación en Ingeniería en Ejecución en Computación e Informática en la Universidad del Bío-Bío, adquirí una base sólida en programación y desarrollo de aplicaciones web. Esta experiencia académica, complementada con proyectos desafiantes, me ha permitido perfeccionar mis habilidades en tecnologías clave como HTML, CSS y JavaScript, así como en frameworks modernos como React y React Native.
          </p>
          <p class="text-justify mt-2">
            Mi enfoque está orientado a diseñar y desarrollar interfaces intuitivas, accesibles y estéticamente atractivas, asegurando una experiencia de usuario excepcional. Me apasiona aprender y mantenerme al día con las últimas tendencias y avances tecnológicos en el mundo del desarrollo frontend.
          </p>
          <p class="text-justify mt-2">
            Siempre estoy en busca de nuevos retos y oportunidades que me permitan aportar valor a proyectos innovadores, seguir creciendo profesionalmente y colaborar en equipos que compartan mi entusiasmo por la creatividad y la excelencia técnica.
          </p>
        </div>
      </div>
      <div class="w-full bg-gray-200 h-0.5 mt-4"></div>
      <div data-aos="fade-right" data-aos-duration="1500" class="flex w-full flex-col sm:flex-row mt-4  text-white z-20 ">
        <div class="flex w-full md:w-6/12 flex-col break-words ">
          <div class="flex w-full flex-row">
            <div>
              <p class="font-bold">Nombre:</p>
            </div>
            <div class="ml-3">
              <p>Elvis Rodríguez Durán</p>
            </div>
          </div>
          <div class="flex flex-row mt-3 break-words">
            <div>
              <p class="font-bold">Ciudad:</p>
            </div>
            <div class="ml-3">
              <p>Concepción, Chile.</p>
            </div>
          </div>
        </div>
        <div class="flex w-full md:w-6/12 mt-3 sm:mt-0 flex-col">
          <div class="flex flex-row">
            <div>
              <p class="font-bold">Edad:</p>
            </div>
            <div class="ml-3">
              <p>23 años</p>
            </div>
          </div>
          <div class="flex flex-col sm:flex-row mt-3">
            <div>
              <p class="font-bold">Email:</p>
            </div>
            <div class="w-full ml-0 sm:ml-3">
              <p>elvisrodriguezduran&#64;gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-8 w-full z-20 flex justify-center md:justify-start mb-12">
        <button class="hover:opacity-75 text-white py-2 px-4 border rounded hover:scale-110">
          Descargar CV
        </button>
      </div>
    </div>
    <div class="flex w-full xl:w-6/12 my-8 md:my-14 items-center justify-center cursor-pointer">
      <div data-aos="fade-up" data-aos-duration="1500" data-aos-offset="250" class="w-6/12 xl:px-12 xl:w-8/12">
          <div class="glitch">
            <img class="rounded-md" src="../../../assets//imgs/yo.webp" width="100%" height="auto" alt="elvisrd">
            <div class="glitch__layers">
              <div class="glitch__layer"></div>
              <div class="glitch__layer"></div>
              <div class="glitch__layer"></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
