<app-nav-bar></app-nav-bar>
<section id="home" class="flex relative w-full h-screen justify-center items-center fondoInicio">
  <div class="absolute w-full h-full imgLuz"></div>
  <div class="absolute w-full h-full imgCyborg"></div>
  <div class="absolute w-full h-full bg-fixed bg-black opacity-75"></div>
  <div class="absolute bg-transparent hidden lg:flex opacity-50 flex-col justify-around left-16 bottom-10 w-15 h-1/4">
    <app-icon-link urlSvg="/gmail.svg" href="mailto:elvisrodriguezduran@gmail.com" alt="gmail" ></app-icon-link>
    <app-icon-link urlSvg="/linkedin.svg" href="https://www.linkedin.com/in/elvis-rodr%C3%ADguez-dur%C3%A1n-58b338224/" alt="linkedin" ></app-icon-link>
    <app-icon-link urlSvg="/instagram.svg" href="https://www.instagram.com/" alt="instagram" ></app-icon-link>
    <app-icon-link urlSvg="/github.svg" href="https://github.com/" alt="github" ></app-icon-link>
  </div>
  <div class="flex text-white mb-10 flex-col brightness-100 ">
    <div class="hero-container">
      <div class="mt-3">
        <h1 class="text-center text-3xl sm:text-4xl md:text-5xl lg:text-6xl heroTitle glitch layers" data-text="Desarrollador de software"><span>Desarrollador de software</span></h1>
      </div>
      <div class="mt-4 flex justify-center">
        <h3 class="heroSubtitle glitch layers text-center text-md md:text-2xl px-4" data-text="Desarrollador de aplicaciones Webs"><span>Desarrollador de apliaciones Webs</span></h3>
      </div>
      <div class="w-full flex lg:hidden  justify-center">
        <div class="flex w-10/12 sm:w-6/12 opacity-50 flex-row justify-around mt-6">
          <app-icon-link urlSvg="/gmail.svg" href="mailto:elvisrodriguezduran@gmail.com" alt="gmail" ></app-icon-link>
          <app-icon-link urlSvg="/linkedin.svg" href="https://www.linkedin.com/in/elvis-rodr%C3%ADguez-dur%C3%A1n-58b338224/" alt="linkedin" ></app-icon-link>
          <app-icon-link urlSvg="/instagram.svg" href="https://www.instagram.com/" alt="instagram" ></app-icon-link>
          <app-icon-link urlSvg="/github.svg" href="https://github.com/" alt="github" ></app-icon-link>
        </div>
      </div>
      
    </div>
  </div>
</section>
