.glitch {
  color: white;
  font-size: 30px;
  position: relative;
  background: #000;
  width: 300px;
  margin: 0 auto;
  font-family: 'Varela', sans-serif;
}
.glitch:after {
  content: attr(data-text);
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50px; /* Ajusta el valor según sea necesario */
  top: 0; /* Ajusta el valor según sea necesario */
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: 50px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
