
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Lora:ital,wght@0,500;1,500&family=Montserrat&family=Open+Sans:wght@500&family=Oswald&family=Playfair+Display:wght@500&family=Roboto+Condensed&family=Sansita+Swashed:wght@300;500;600&family=Secular+One&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Lora:ital,wght@0,500;1,500&family=Montserrat&family=Nunito:wght@300&family=Open+Sans:wght@500&family=Oswald&family=Playfair+Display:wght@500&family=Roboto+Condensed&family=Sansita+Swashed:wght@300;500;600&family=Secular+One&family=Source+Sans+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  -webkit-text-size-adjust: 100%;
}
body {
  overflow-x: hidden ;
}

.eliminarOutline { 
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

@media (max-width: 768px) {
  .hideOverflowOnMobile {
  overflow: hidden;
  }
  }