<section id="projects" class="w-full relative bg-backgroundAboutMe">
  <div class="flex w-full h-full flex-col">
    <div data-aos="fade-up" data-aos-duration="1500" class="flex w-full mt-12 justify-center">
      <h1 class="text-4xl xs:text-5xl md:text-6xl text-gray-200">Proyectos</h1>
    </div>
    <div class="w-full h-full mt-24">
      <div class="grid w-full grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10 mb-24">
        <app-card-project  description="Aplicación que aún no se encuentra finalizada, pronto estará disponible" titleApp="Pronto!"></app-card-project> 
        <app-card-project  description="Aplicación que aún no se encuentra finalizada, pronto estará disponible" titleApp="Pronto!"></app-card-project> 
        <div class="col-span-1 md:col-span-2 xl:col-span-1">
          <app-card-project  description="Aplicación que aún no se encuentra finalizada, pronto estará disponible" titleApp="Pronto!"></app-card-project> 
        </div>
      </div>
    </div>
  </div>
</section>

